// VAR -------------------------------------------------------------

@import "./utils/variables";

// ALL -------------------------------------------------------------

@import "./base/all";

// H -------------------------------------------------------------

@import "./base/h";

// KEYFRAMES -------------------------------------------------------------

@import "./utils/keyframes";

// BODY -------------------------------------------------------------

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

    // LOADING PAGE -------------------------------------------------------------

    @import "./layout/loading_page";

    // HEADER -------------------------------------------------------------

    @import "./layout/header";

    // MAIN -------------------------------------------------------------

    @import "./pages/index";

    // restaurant 01

    @import "./pages/menu";

    // FOOTER -------------------------------------------------------------

    @import "./layout/footer";

}