body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: $gradient_bg_color;

    // INDEX

    // LOADING PAGE

    @import "./loading_page";

    //header

    @import "./header";

    //main

    @import "./main";

    //footer

    @import "./footer";

}