footer{
    width: 100%;
    background-color: #354146;
    animation: z-index 0ms map-get($delays, main_page_delay) linear both;

    .container{
        width: 90%;
        margin: 0px auto;
        padding: 15px;

        &__title{
            width: 100%;
            padding: 15px 0px;

            @media all and (min-width: $tab_vertical_bp){
                display: flex;
                align-items: center;
                justify-content: center;
            }

            h3{
                font-family: Shrikhand;
                color: white;
            }
        }

        &__infos{
            width: 100%;

            @media all and (min-width: $tab_vertical_bp){
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            div{
                display: flex;
                flex-direction: row;
                align-items: center;

                @media all and (min-width: $tab_vertical_bp){
                    justify-content: center;
                }

                i{
                    width: fit-content;
                    padding: 5px 0px;
                    color: white;
                }

                h4{
                    width: fit-content;
                    padding: 5px 5px;
                    color: white;
                }
            }

            h4{
                width: fit-content;
                padding: 5px 0px;
                color: white;
            }
        }
    }
}