header{
    height: 80px;
    width: 100%;
    top: 0px;
    background-color: white;
    z-index: 0;
    animation: z-index 0ms map-get($delays, main_page_delay) linear both;

    .header__container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: map-get($box_shadows, light_box_shadow);

        .previous{
            position: absolute;
            left: 15px;
            font-size: 30px;
            text-decoration: none;
            color: black;

            .inactive{
                height: 100%;
                display: none;
            }

            .active{
                height: 100%;
                display: block;
            }
        }

        .logo{
            text-decoration: none;
        }
    }
    
}

.restaurant_header{
    position: fixed;
}