h1{
    margin: 0px;
    padding: 0px;
    font-family: Shrikhand;
    font-size: 30px;
    color: black;
}

h2{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    color: black;
}

h3{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

h4{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    color: black;
}

h5{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    color: black;
}