.restaurant_main{
    height: fit-content;
    width: 100%;
    position: relative;
    top: 80px;
    animation: z-index 0ms map-get($delays, main_page_delay) linear both;

    .restaurant_photo{
        height: 180px;
        width: 100%;
        position: absolute;
        transform-origin: bottom;

        @media all and (min-width: $tab_vertical_bp){
            position: fixed;
            height: 100vh;
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .menu{
        box-sizing: border-box;
        width: 100%;
        max-width: $menu-max-width;
        margin: 0px auto;
        padding: 15px 15px 0% 15px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 150px;
        background-color: $darken_bg_color;
        border-radius: 15px 15px 0px 0px;

        .title{
            height: 50px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &__text{
                height: 100%;
                width: 80%;
                display: flex;
                align-items: center;
                
                h2{
                    font-family: Shrikhand;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &__logo{
                height: 100%;
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;

                .empty{
                    height: 25px;
                    width: 25px;
                    position: relative;
                    opacity: 1;
                    z-index: 1;
                }

                .full{
                    height: 25px;
                    width: 25px;
                    position: absolute;
                    opacity: 0;
                    z-index: 2;

                    &:hover{
                        animation: opacity 500ms 0ms linear both;
                    }

                    &:hover + .empty{
                        animation: opacity_reverse 500ms 0ms linear both;
                    }
                }
            }
        }

        .plat{
            height: fit-content;
            width: 100%;
            margin-top: 15px;
            display: flex;
            flex-direction: column;

            &__title{
                width: fit-content;
                display: flex;
                flex-direction: column;

                div{
                    height: 3px;
                    width: 75%;
                    background-color: map-get($main_colors, tertiary-color);
                }
            }

            &__container{
                width: 100%;
                display: flex;
                flex-direction: column;
                transform-origin: top;

                .item{
                    height: 80px;
                    width: 100%;
                    margin-top: 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: white;
                    border-radius: 15px;
                    animation: opacity 2000ms map-get($delays, item_delay) linear both;

                    &:hover{
                        cursor: pointer;
                    }

                    &:hover .item__name{
                        animation: width-reduce 200ms 0ms linear both;
                    }

                    &:hover .item__price{
                        animation: translate-x 200ms 0ms linear both;
                    }

                    &:hover .item__logo{
                        animation: scale-x 200ms 0ms linear both;
                    }

                    &__name{
                        width: 70%;
                        padding: 0px 5%;
                        transform-origin: left;

                        h3{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        h5{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &__price{
                        width: 10%;
                        padding: 0px 5%;
                        text-align: center;
                    }

                    &__logo{
                        height: 80px;
                        width: 10%;
                        padding: 0px 5%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        right: 0px;
                        transform: scale(0);
                        transform-origin: right;
                        color: white;
                        background-color: map-get($main_colors, tertiary-color);
                        border-radius: 0px 15px 15px 0px;
                        font-size: 18px;
                    }
                }
            }

            &__01{
                animation: scale-y 800ms map-get($delays, item_delay) linear both;
            }

            &__02{
                animation: scale-y 800ms map-get($delays, item_delay) + 500ms linear both;
            }

            &__03{
                animation: scale-y 800ms map-get($delays, item_delay) + 1000ms linear both;
            }
        }

        input[type=button]{
            height: 60px;
            width: 210px;
            margin: 30px auto;
            border: none;
            border-radius: 30px;
            font-size: 18px;
            color: white;
            background: $gradient_bg_color;
            box-shadow: map-get($box_shadows, light_box_shadow);

            &:hover{
                background: $lighten_button_bg_color;
                box-shadow: map-get($box_shadows, darken_box_shadow);
                outline: none;
            }

            &:focus{
                outline: none;
            }
        }
    }
}