// loading_page

@keyframes loading_page{
    0%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(100%);
    }
}

// rotate

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

// left to right

@keyframes left_to_right{
    from{
        transform: translateX(-5px);
    }
    to{
        transform: translateX(5px);
    }
}

// opacity reverse

@keyframes opacity_reverse{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

// opacity

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

// z-index

@keyframes z-index{
    from{
        z-index: 0;
    }
    to{
        z-index: 2;
    }
}

// scale-x

@keyframes scale-x{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

// scale y

@keyframes scale-y{
    from{
        transform: scaleY(0);
    }
    to{
        transform: scaleY(1);
    }
}

// translate x

@keyframes translate-x{
    from{
        transform: translate(100%);
    }
    to{
        transform: translate(0%);
    }
}