// MAIN COLORS

$main_colors: (
    primary-color: #9356DC,
    lighten-primary-color: lighten(#9356DC, 5),
    secondary-color: #FF79DA,
    lighten-secondary-color: lighten(#FF79DA, 5),
    tertiary-color: #99E2D0,
    lighten-tertiary-color: lighten(#99E2D0, 5),
);

// bg color

$light_bg_color: #F2F2F2;
$darken_bg_color: darken(#F2F2F2, 5);

// button

$button_bg_color: linear-gradient(to top, map-get($main_colors, primary-color), map-get($main_colors, secondary-color));
$lighten_button_bg_color: linear-gradient(to top, map-get($main_colors, lighten-primary-color), map-get($main_colors, lighten-secondary-color));


// DELAY

$delays: (
    loading_page_delay: 2000ms,
    main_page_delay: 2500ms
);

// BOX SHADOWS

$box_shadows: (
    light_box_shadow: 0px 0px 12px 0px rgba(0,0,0,0.5),
    darken_box_shadow: 0px 0px 12px 0px rgba(0,0,0,0.8)
)