// MAIN COLORS

$main_colors: (
    primary-color: #9356DC,
    secondary-color: #FF79DA,
    tertiary-color: #99E2D0
);

// DELAY

$delays: (
    loading_page_delay: 2000ms,
    main_page_delay: 2500ms
);